{% extends 'Style.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'About_us.css' %}">
</head>
<body>

	<div id="principal">
		
		
		<img src="{% static 'Images/Group.jpg' %}" width="700" height="500">
		<h1>Welcome, we were waiting for you</h1>
		<p>We are a company in charge of your security when you are online. </p>
		<p>We take care of your privacy so you do not worry when browsing the internet.</p>
		<p>If you need us to do spy work for you, recovery, work with botnets</p>
		<p>We are legion, we do not forget, we do not forgive, wait for us</p>

	</div>

</body>
</html>

{% endblock %}