#principal{
	width: 1320px;
	height: 500px;
	background: linear-gradient(to right,black 0% 50%, #1F1E1E 50%);
	margin-bottom: 20px;
	
}

h1 {
	color: white;
	text-align: center;
}

img{
	float: right;
}
p{
	color: white;
	font: 24px bold;
}